/**  =====================
      Custom css start
==========================  **/
// @font-face {
//     font-family: segoe UI;
//     src: url("../fonts/SEGOEUI.TTF");
// }

body {
  background-color: $theme-bg-color;
  font-size: $theme-font-size;
  overflow-x: hidden;
  color: $theme-font-color;
  font-family: $theme-font-family;
  background-attachment: fixed;
  // background-image: linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 20%,
    transparent 20%,
    transparent 40%,
    rgba(255, 255, 255, 0.15) 40%,
    rgba(255, 255, 255, 0.15) 60%,
    transparent 60%,
    transparent 80%,
    rgba(255, 255, 255, 0.15) 80%,
    transparent
  );
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

* {
  &:focus {
    outline: none;
  }
}

a {
  font-size: 13px;
  cursor: pointer;
  @media only screen and(min-width: 1400px) {
    font-size: 14px;
  }
  color: $inverse-color;

  &:focus,
  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

.img-radius {
  border-radius: 50%;
}

.bg-c-green {
  background: linear-gradient(45deg, $success-color, lighten($success-color, 10%));
}
.bg-c-pink {
  background: linear-gradient(45deg, $danger-color, lighten($danger-color, 10%));
}

.main-container {
  margin: 0 auto;
  margin-top: 56px;
  position: relative;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  // overflow: hidden;
  transition: all 0.3s ease-in-out;

  .card-footer {
    background-color: $white-txt;
    border-top: none;
  }

  .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 25px;

    .card-header-left {
      display: inline-block;
    }

    .card-header-right {
      border-radius: 0 0 0 7px;
      right: 10px;
      top: 18px;
      display: inline-block;
      float: right;
      padding: 7px 0;
      position: absolute;
      @media only screen and (max-width: 575px) {
        display: none;
      }

      i {
        margin: 0 11px;
        cursor: pointer;
        font-size: 12px;
        color: #8c8c8c;
        line-height: 2;

        &.icofont.icofont-spinner-alt-5 {
          display: none;

          &:before {
            // content: "";
            // background-image: url('../../assets/images/load.png');
            // display: inline-block;
            // width: 20px;
            // height: 20px;
            // background-size: cover;
          }
        }
      }

      .card-option {
        width: 35px;
        height: 20px;
        overflow: hidden;
        transition: 0.3s ease-in-out;

        li {
          display: inline-block;
        }
      }

      &:hover {
        // .card-option {
        //     width: 145px;
        // }
        //
        // li {
        //     &:first-child {
        //         display: none;
        //     }
        // }
      }
    }

    span {
      display: block;
      font-size: 13px;
      margin-top: 5px;
    }

    + .card-block,
    + .card-block-big {
      padding-top: 0;
    }

    h5 {
      margin-bottom: 0;
      color: $inverse-color;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      margin-right: 10px;
      line-height: 1.4;
    }
  }

  .card-block {
    padding: 25px;
    @media only screen and (max-width: 480px) {
      padding: 20px;
    }

    table {
      tr {
        padding-bottom: 20px;
      }
    }

    .sub-title {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    code {
      background-color: #eee;
      margin: 5px;
      display: inline-block;
    }

    .dropdown-menu {
      top: 38px;
    }

    p {
      line-height: 1.4;
    }

    a {
      &.dropdown-item {
        margin-bottom: 0;
        font-size: 14px;
        transition: 0.25s;

        &:active,
        .active {
          background-color: $primary-color;
        }
      }
    }

    .btn {
      margin-right: 5px;
    }

    &.remove-label i {
      margin: 0;
      padding: 0;
    }

    &.button-list span.badge {
      margin-left: 5px;
    }

    .dropdown-menu {
      background-color: #fff;
      padding: 0;

      .dropdown-divider {
        background-color: #ddd;
        margin: 3px 0;
      }
    }

    .dropdown-menu > a {
      padding: 10px 16px;
      line-height: 1.429;
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
      background-color: rgba(202, 206, 209, 0.5);
    }

    .dropdown-menu > li:first-child > a:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    .badge-box {
      padding: 10px;
      margin: 12px 0;
    }
  }

  .card-block-big {
    padding: 35px;
  }

  .card-block-small {
    padding: 15px;
  }

  &:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
  }
  // .inner-card-block {
  //     border: 1px solid #ddd;
  // }
}
.landing-content {
  float: unset;
  right: 0;
  position: relative;
  display: block;
}
.landing-inner-content {
  padding: 10px;
}

.main-body {
  .page-wrapper {
    transition: all ease-in 0.3s;
  }
}

.md-tabs {
  position: relative;

  .nav-item + .nav-item {
    margin: 0;
  }

  .nav-link {
    border: none;
    color: $inverse-color;
    cursor: pointer;
  }

  .nav-item {
    width: calc(100% / 10);
    text-align: center;
  }

  .nav-link:focus,
  .nav-link:hover {
    border: none;
  }

  .nav-item .nav-link.active ~ .slide {
    opacity: 1;
    transition: all 0.3s ease-out;
  }

  .nav-item .nav-link ~ .slide {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover {
    color: $primary-color;
    border: none;
    background-color: transparent;
    border-radius: 0;
  }

  .nav-item a {
    padding: 20px 0 !important;
    color: $inverse-color;
  }
}

.nav-tabs .slide {
  background: $primary-color;
  width: calc(100% / 10);
  height: 4px;
  position: absolute;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
  bottom: 0;

  .nav-item.show .nav-link,
  .nav-link {
    color: $primary-color;
  }
}

.option-button {
  .btn {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

/**  =====================
      Accordion css start
==========================  **/
// .accordion-panel{
//   .content{
//     overflow:hidden;
//     transition:max-height 0.3s ease; // note that we're transitioning max-height, not height!
//     height:auto;
//     max-height:100px;
//   }
//   .collapsed {
//     max-height:0;
//   }
// }
.accordion-msg {
  display: block;
  color: #222222;
  padding: 14px 20px;
  border-top: 1px solid #ddd;
  font-weight: 600;
  cursor: pointer;
}

.accordion-msg:focus,
.accordion-msg:hover {
  text-decoration: none;
  outline: none;
}

.faq-accordion .accordion-desc {
  padding: 20px;
}

.accordion-desc {
  color: #222222;
  padding: 0 20px 20px;
}

#color-accordion .accordion-desc {
  margin-top: 14px;
}

.ui-accordion-header-icon {
  float: right;
  font-size: 20px;
}

.accordion-title {
  margin-bottom: 0;
}

.accordion-block {
  padding: 0;

  p {
    margin-bottom: 0;
  }
}

.color-accordion-block a {
  &.ui-state-active,
  &:focus,
  &:hover {
    color: #fff;
    background: #4680ff;
  }
}

a.bg-default:focus,
a.bg-default:hover {
  background-color: lighten($default-color, 10%) !important;
  color: #fff;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: lighten($primary-color, 10%) !important;
  color: #fff;
}

a.bg-success:focus,
a.bg-success:hover {
  background-color: lighten($success-color, 10%) !important;
  color: #fff;
}

a.bg-info:focus,
a.bg-info:hover {
  background-color: lighten($info-color, 10%) !important;
  color: #fff;
}

a.bg-warning:focus,
a.bg-warning:hover {
  background-color: lighten($warning-color, 10%) !important;
  color: #fff;
}

a.bg-danger:focus,
a.bg-danger:hover {
  background-color: lighten($danger-color, 10%) !important;
  color: #fff;
}

.collapseVisibility {
  visibility: hidden;
}
/**====== Accordion css end ======**/

.margin-bottom * {
  margin-bottom: 1em;
}

.fa {
  cursor: pointer;
  color: #8c8c8c;
}

.modal-title {
  font-weight: 600;
  margin-bottom: 20px;
}
/**  =====================
      Test Control program css start
==========================  **/
.test-control {
}
/**  =====================
      Test Control program css end
==========================  **/
