

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";

// General theme contents
@import "partials/variables";
@import "partials/mixins";
@import "partials/general";

// Menu
@import "partials/menu/menu";
//@import "partials/menu/pcmenu";

// Important Theme elements
@import "partials/theme-elements/button";

// Responsive css
@import "partials/responsive/responsive";